global
    nbthread 1
    maxconn 10000

defaults
    mode http
    option http-keep-alive
    timeout connect 5s
    timeout client  20s
    timeout server  20s
    log /dev/null local0

frontend http_front
    bind *:9999
    default_backend api_back

backend api_back
    balance leastconn
    # Correct syntax for HAProxy 3.0
    http-reuse always
    
    option httpchk GET /ready
    server api1 api1:9999 check inter 2s fall 2 rise 2
    server api2 api2:9999 check inter 2s fall 2 rise 2

# This is line 27. It MUST be empty. Leave a blank line below this text.
